<h1 class=" text-4xl font-bold ">Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path %>
